<h1 class="grad">What is the Solar System?</h1>
<p>
    The Solar System includes the Sun, the Earth (where you are now!) and all of the other planets, asteroids and comets
    that go around and around it.
</p>

<p><strong>Earth is the only planet on which we know that there have been plants and animals living.</strong> On some
    planets there is no air to breathe and on others it is either too hot or too cold. Some scientists think that
    creatures may have lived on Mars millions of years ago, when Mars was warmer and had more air – they try to find
    evidence to show this is true.</p>
<p>Until 2006, people thought that there were nine planets in the Solar System. The ninth planet was Pluto and it is
    even further away from the Sun than Neptune. Astronomers decided that Pluto was too small to be called a planet, so
    now there are only eight planets.</p>
<p>The Sun is a star, a huge ball of very hot gas. The temperature of the Sun is around 5,500°C – it’s so hot that you
    can feel the heat from it on Earth, millions of miles away, and see by the light that it gives out. The Sun is about
    4.5 billion years old and will last until it is about 10 billion years old.</p>
<p>There are more than 100 billion stars in the Milky Way and there are many different types of star. Our Sun is of a
    type called a “yellow dwarf”. Scientists group stars together by how big they are and how bright they are. Some
    examples are red dwarfs and supergiants. A red dwarf is a star about half the size of the Sun and a lot less bright
    than the Sun. A supergiant star is about 70 times as big as the Sun and can be 100,000 times as bright.</p>
<p>The nearest star to the Earth after the Sun is Proxima Centuri. It is red dwarf that is smaller and colder than our
    Sun and gives off a lot less light. Even though it is the closest star outside the Solar System, the light from it
    is too faint to see except with a telescope. Proxima Centuri is 24 trillion miles from Earth and light from it takes
    four years and three months to reach Earth.</p>
<h2 class="orange">The planets</h2>
<p><strong>Mercury</strong> – this is the closest planet to the Sun. It is the smallest planet and is made of rock. It
    is so close to the Sun that it only takes 88 days for it to complete its orbit and is much hotter than Earth.</p>
<p><strong>Venus</strong> – Venus is the next planet from the Sun after Mercury. It is also made of rock. Like Earth,
    Venus has an atmosphere (air) around it, but it is a lot thicker than Earth’s and Venus is permanently covered in
    clouds. Venus is the hottest planet and has an average temperature of 460°C. It is about the same size as Earth. It
    takes 225 days to travel around the Sun.</p>
<p><strong>Earth</strong> – This is where we live! Earth is made of rock and is the only planet where water is liquid.
    The other planets are either too hot or too cold. Earth takes 365 days to travel around the Sun.</p>
<p><strong>Mars</strong> – Mars is a little smaller than Earth, but a lot further out. It used to have an atmosphere
    like Earth and Venus, but it doesn’t have very much anymore. Mars is reddish in colour and is sometimes called ‘The
    Red Planet’. Mars takes 687 days to complete its orbit pf the Sun and the average temperature is -63°C.</p>
<p><strong>Jupiter</strong> – Jupiter is the largest planet in the Solar System. You could fit 1,321 Earths inside
    Jupiter. It is made of gas and is one of the four ‘gas giants’. Jupiter has 66 moons; one of them, Ganymede, is
    bigger than Mercury. Jupiter is five times as far from the Sun as the Earth is and takes almost 12 years to travel
    around the Sun.</p>
<p><strong>Saturn</strong> – Saturn is famous for its rings. The rings were first observed (with a telescope) in 1610 by
    <a href="https://www.theschoolrun.com/homework-help/galileo-galilei">Galileo</a> and are made up of huge numbers of
    small lumps of ice and dust (mostly ice). The pieces in the rings may be as small as a millimetre or as large as a
    few metres across. Saturn is the second largest planet in the Solar System and is another one of the ‘gas giants’
    like Jupiter. It takes 29.5 years to travel around the Sun.</p>
<p><strong>Uranus</strong> – Uranus is another of the ‘gas giants’. You could fit 63 planets the size of Earth inside
    Uranus. Uranus takes 84 years to orbit the Sun and is the coldest planet, with an average temperature of -220°C.</p>
<p><strong>Neptune</strong> – Neptune is the farthest planet from the Sun. It is 30 times as far from the sun as Earth
    and takes 165 years to travel around the Sun. Neptune is the last of the four ‘gas giants’ and is 58 times the
    volume of Earth.</p>
<h2 class="grad">Words to know:</h2>
<p><strong>Asteroid</strong> – Asteroids are bodies of rock and ice in space. Millions of asteroids orbit the Sun -most
    between Mars and Jupiter. They vary in size between 1 metre across and 600 miles
    across.<br /><strong>Atmosphere</strong> – the layer of gas around a planet<br /><strong>Comet</strong> – a comet is
    a body of ice, dust and bits of rock that passes through space leaving a tail of ice and dust behind it. A comet may
    be up to 25 miles across.<br /><strong>Day</strong> – the length of time it takes the Earth to spin all the way
    around so that you get a night and a day – 24 hours<br /><strong>Galaxy</strong> – a large group of stars, all
    orbiting a central point.<br /><strong>Gravity</strong> – the force that attracts a moon to a planet, or a planet to
    a star<br /><strong>Light Year</strong> – the distance that light travels in one year. 5.9 trillion
    miles<br /><strong>Meteor</strong> – a small piece of debris in space, up to the size of a
    boulder<br /><strong>Milky Way</strong> – the galaxy that we live in<br /><strong>Moon</strong> – A moon is a
    smaller object orbiting a planet. Some planets have many moons. Earth has just one, called The
    Moon.<br /><strong>Orbit</strong> – the path that a planet takes around the Sun, or that a moon takes around a
    planet<br /><strong>Planet</strong> – a large body of either rock or gas that follows a consistent orbit around a
    star<br /><strong>Shooting star</strong> – This isn’t really a star! A shooting star is a meteor that is passing
    through the Earth’s atmosphere and has got so hot that it glows in the night sky.<br /><strong>Solar System</strong>
    – the Sun and the collection of stars<br /><strong>Star</strong> – A star is a huge ball of very hot gases, that
    gives off lots of light and heat. Some stars have planets orbiting around them, but not all
    do.<br /><strong>Sun</strong> – the star in our Solar System<br /><strong>Universe</strong> – The Universe is
    everything that exists: all the galaxies, all the stars, all the planets and everything in
    between<br /><strong>Year</strong> – the length of time it takes the Earth to travel around the Sun, 365 days</p>
