.orange{
    background-color: orange;
    color: black;
    font-size: 25px;
    width: 100%;
    padding:10px;
}
.pink{
    background-color:rgb(214, 32, 123);
    color: black;
    font-size: 25px;
    width: 100%;
    padding:10px;
}
*{
    color: white;
    font-size: 20px;
}
.grad {
    background-image: linear-gradient(to right, red,orange,yellow,blue,indigo,violet);
  }
  strong{
    text-shadow:5px 5px 5px yellow;
  }