<div class="flex-container">
<div   *ngFor="let planet of planets" class="card"  (click)="onSelect(planet)">
  <img src={{planet.img}} alt={{planet.name}} style="width:100%">
  <div class="container">
    <h3><b>{{planet.name}}</b></h3>
    <p><b>Distance from Sun:</b> {{planet.sunDistance}}</p> 
    <p><b>Orbital Period:</b> {{planet.orbitalPeriod}}</p> 
    <p><b>Moons:</b> {{planet.moonNum}}</p>
  </div>
</div>
</div>
 <div [className]="selected ? 'modal' : 'noshow'">
  <span class="close" (click)="onClick()">&times;</span>
  <img src={{selectedplanet.img}} alt={{selectedplanet.name}}  class="pop">
  <div class="container">
    <h2><b>{{selectedplanet.name}}</b></h2>
    <p>{{selectedplanet.detail}}</p> 
     <b><a href={{selectedplanet.link}} target="blank">Read more...</a></b>
</div> 

	
