.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  width:300px;
    margin:30px;
    background-color: white;
  }
  
  .card:hover {
    box-shadow: 8px 8px 16px 0 white ;
  }
  
  .container {
    padding: 2px 16px;
  }
  h2{
    margin-top: 7px;
    margin-bottom: 0;
  }
  img{
   
      width:300px;
      height: 260px;
  }
  h3{
    text-align: center;
    font-size:20px;
  }
  img.pop{
    width:300px;
      height: 260px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 50%;
    box-shadow: 8px 8px 5px grey;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left:30%;
    top: 20%;
    width: 480px; 
    height: 510px; 
    overflow: none; 
   background-color: white;
   text-align: center;
   padding: 0;
   margin: 0;
   background-color:rgb(195, 222, 240);
  
  }
  
 a{
   margin-top: 0;
 }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 3px;
  }
  

  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
 

  .noshow{
    display: none;
  }